/*
Nav Bar CSS Elements
*/

.navbar {
    background-color: #FACEE1;

}

.nav-item {
    padding: 0 15px;
}

.ms-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-nav-link {
    color: #f8f8ee;
    font-weight: 900;
    font-family: 'Livvic', sans-serif;
    font-size: 15px;
    
}

.my-nav-link:hover{
    color: #2F1821;
    padding: 10px 20px;
    width: 100%;
    background-color: white;
    transition: all 0.3s ease-in-out;
    border-radius: 10px; 
}

.navbar-brand {
    height: 100px;
    width: 100px;
    border: none;
}

.navbar-title {
    color: #f8f8ee;
    font-weight: 900;
    font-family: 'Livvic', sans-serif;
    text-decoration: none;
    font-size: 20px;
}

.navbar-title:hover {
    text-decoration: none;
    color: #f8f8ee;

}

.navbar-toggler {
    background-color: #f8f8ee;
}

.navbar-toggler:hover{
    background-color: #DE4D86;
    transition: all 0.3s ease-in-out;
}


/*
First Home Screen Section CSS Elements
*/

.showcase-header {
    font-family: 'Livvic', sans-serif;
    font-weight: 900;
    font-size: 20px;
    text-shadow: 3px 3px 3px white;
    color: #2F1821;
}

.showcase-header-2 {
    font-family: 'Livvic', sans-serif;
    font-weight: 900;
    font-size: 40px;
    text-shadow: 3px 3px 3px white;
    color: #2F1821;
}

.showcase {
    background-color: #facee1
}

.showcase-picture {
    border: none;
    border-radius: 10px;
}


.showcase-button {
    font-weight: 900;
    font-family: 'Livvic', sans-serif;
    font-size: 40px;
    border: none;
    border-radius: 10px;
    color: #2F1821;
}

.showcase-button:hover {
    color: #DE4D86;
    background-color: #FACEE1;
    text-shadow: 3px 3px 3px white;
}

/*
Photo Gallery Screen Section CSS Elements
*/

.gallery {
    background-color: #2F1821;
}

.gallery-header {
    font-family: 'Livvic', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: #f8f8ee;
    text-shadow: 2px 2px 2px #FACEE1;
}

.carousel-item img {
    display: block;
    margin: 0 auto;
}

.footer {
    background-color: #f8f8ee
}

.footer-text {
    font-family: 'Livvic', sans-serif;
    color: #2F1821;
}

.carousel {
    background-color: #2F1821
}

/* 
About US
*/

.gallery-showcase-header {
    font-family: 'Livvic', sans-serif;
    font-weight: 900;
    font-size: 40px;
    text-shadow: 3px 3px 3px white;
    color: #2F1821;
}

.gallery-showcase-text {
    font-family: 'Livvic', sans-serif;
    font-weight: 60;
    font-size: 20px;
    color: #2F1821;
}