/*
Nav Bar CSS Elements
*/

.navbar {
    background-color: #FACEE1;
}


.nav-item {
    margin: 0 10px;
}

.nav-link {
    color: #f8f8ee;
    font-weight: 900;
    font-family: 'Livvic', sans-serif;
    font-size: 15px;
    text-decoration: none;
}


.nav-link:hover{
    color: #2F1821;
    padding: 10px 20px;
    width: 100%;
    background-color: white;
    transition: all 0.3s ease-in-out;
    border-radius: 10px; 
}

.navbar-brand {
    height: 100px;
    width: 100px;
    border: none;
    margin-left: 20;
}

.navbar-title {
    color: #f8f8ee;
    font-weight: 900;
    font-family: 'Livvic', sans-serif;
    text-decoration: none;
    font-size: 20px;
}

.navbar-title:hover {
    text-decoration: none;
    color: #f8f8ee;

}

.navbar-toggler {
    background-color: #f8f8ee;
}

.navbar-toggler:hover{
    background-color: #DE4D86;
    transition: all 0.3s ease-in-out;
}

.nav-link:active, .nav-link:focus {
    color: #f8f8ee;
    text-decoration: none;
    background-color: transparent;
}

/*
First Home Screen Section CSS Elements
*/

.showcase-header {
    font-family: 'Livvic', sans-serif;
    font-weight: 900;
    font-size: 15px;
    text-shadow: 3px 3px 3px white;
    color: #2F1821;
    text-transform: uppercase;
}

.showcase-header-2 {
    font-family: 'Livvic', sans-serif;
    font-weight: 900;
    font-size: 40px;
    text-shadow: 3px 3px 3px white;
    color: #2F1821;
    text-transform: uppercase;
    
}

.showcase {
    background-color: #facee1
}

.showcase-picture {
    border: none;
    border-radius: 10px;
}


.showcase-button {
    font-weight: 900;
    font-family: 'Livvic', sans-serif;
    font-size: 40px;
    border: none;
    border-radius: 10px;
    color: #2F1821;
    text-transform: uppercase;

}

.fixed-size-img {
    width: 600px; /* Set your desired width */
    height: 400px; /* Set your desired height */
    object-fit: cover; /* Ensures the image covers the fixed size without distortion */
}


button.showcase-button {
    width: 350px;
    white-space: nowrap;
  }
  

.showcase-button:hover {
    color: #DE4D86;
    background-color: #FACEE1;
    text-shadow: 3px 3px 3px white;
}

/*
Photo Gallery Screen Section CSS Elements
*/

.gallery {
    background-color: #2F1821;
}

.gallery-header {
    font-family: 'Livvic', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: #f8f8ee;
    text-shadow: 2px 2px 2px #FACEE1;
    text-transform: uppercase;
}

.carousel-item img {
    display: block;
    margin: 0 auto;
}

.footer {
    background-color: #f8f8ee
}

.footer-text {
    font-family: 'Livvic', sans-serif;
    color: #2F1821;
}

.carousel {
    background-color: #2F1821
}

/* 
About US
*/

.about-showcase-header {
    font-family: 'Livvic', sans-serif;
    font-weight: 900;
    font-size: 40px;
    text-shadow: 3px 3px 3px white;
    color: #2F1821;
}

.about-showcase-text {
    font-family: 'Livvic', sans-serif;
    font-size: 16px;
    color: #2F1821;
    font-weight: 500;
    margin-left: 30px;
}

.executive {
    background-color: #2F1821;
}

.about-exec-header {
    font-family: 'Livvic', sans-serif;
    font-weight: 900;
    font-size: 15px;
    color: #f8f8ee;
    text-shadow: 2px 2px 2px #FACEE1;
}

.exec-brand {
    height: 50px;
    width: 50px;
    border: none;
}

.exec-title {
    color: #f8f8ee;
    font-weight: 900;
    font-family: 'Livvic', sans-serif;
    text-decoration: none;
    font-size: 15px;
}

.executive-title  {
    color: #f8f8ee;
    font-weight: 900;
    font-family: 'Livvic', sans-serif;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}

/*
Profile Cards
*/

.profile-area{
    padding: 80px 0;
}

.card{
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 15px ;
    background-color: #f8f8ee;
    width: 325px;
    height: 500px;
    text-align: center;
    margin-bottom: 30px;
    display: inline-block;
    
}

.background img{
    height: 150px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
}

.profile1 img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 125px;
    height: 135px;
    border-radius: 50%;
    border: 7px solid #f8f8ee;
    margin-top: -60px;
}

.card:hover .profile1 img{
    border-color: #DE4D86;
    transition: .7s;
}

.main-text{
    padding: 30px 0;
    text-align: center;
}

.main-text h2{
    font-family: 'Livvic', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    margin: 0 0 20px;
    color: #2F1821;
}

.main-text p{
    font-family: 'Livvic', sans-serif;
    font-size: 14px;
    padding: 0 35px;
    color: #2F1821;
}

.main-text h3{
    font-family: 'Livvic', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    padding: 0 35px;
    color: #DE4D86;
    font-weight: 400;
}

.socials{
    text-align: center;
    padding-bottom: 20px;
}

.socials i{
    font-size: 20px;
    color: #DE4D86;
    padding: 0 10px;
}

.executive-cards {
    background-color: #2F1821;
}

/*
Join
*/
